/*  your css code here. If applicable */
p{
	color:grey;
}
.product {
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
		display:flex;
    }

    .summary {
      border-top: 1px solid #5ea4f3;
      background-color: #f7fbff;
      padding: 10px;
    }